@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --night: #121619ff;
  --brunswick-green: #2d4739ff;
  --jungle-green: #49a078ff;
  --aero: #5db7deff;
  --citrine: #e0ca3cff;
  --eggshell: #F4EBD9;
  --lavender-blush: #EEE5E9;
  --fuvian:#E8871E;
  }

body {
  margin: 0;
 font-family: 'Poppins', Arial, sans-serif;
  background-color: var(--lavender-blush);
  /* color: var(--aero); */
}
h2{
  margin-top: 0;
}

.app-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  text-align: center;
  color: var(--night);
}

.card {
  background-color: var(--brunswick-green);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.5);
}

.leitura-atual p {
  margin: 5px 0;
}

.regar {
  color: var(--fuvian);
  font-weight: bold;
}

.ok {
  color: var(--jungle-green);
  font-weight: bold;
}

.planta img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}
